<header>
    <mat-toolbar>
        <img routerLink="/" src="/assets/logo.svg" alt="logo" width="50" height="35">

        <button mat-raised-button
                [matMenuTriggerFor]="currentLocation"
                class="mat-raised-button-gps-color mat-button-gps-margin">
            <mat-icon>place icon</mat-icon>
            {{activeCity}}
        </button>

        <mat-menu #currentLocation="matMenu" yPosition="below" xPosition="after">
            <div *ngFor="let city of cities">
                <button mat-menu-item (click)="setActivLocation(city)">{{city}}</button>
            </div>
        </mat-menu>

        <button mat-button routerLink="default-search" class="small-header-hide">Купить</button>
        <button mat-button routerLink="default-search" class="small-header-hide">Снять</button>

        <span class="header-spacer"></span>

        <button mat-button (click)="routingOrLogin('place-ad')" class="small-header-hide">
            <img src="/assets/img/add.svg" alt="Add" >
            Разместить объявление
        </button>

        <button mat-button (click)="routingOrLogin('profile')" class="small-header-hide">
            <img src="/assets/img/user.svg" alt="user" width="30" height="22">
            Личный кабинет
        </button>

      <button mat-icon-button class="small-header header-menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="routingOrLogin('profile')">Личный кабинет</button>
        <button mat-menu-item (click)="routingOrLogin('place-ad')">Разместить объявление</button>
        <button mat-menu-item routerLink="/default-search">Снять</button>
        <button mat-menu-item routerLink="/default-search">Купить</button>
      </mat-menu>
    </mat-toolbar>
</header>
