.search-block {
  background-image: url("/assets/img/search-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-size: 100%;
}

.price-option {
  height: 0 !important;
}

price-input {
  width: 180px !important;
  margin: 10px !important;
  height: 40px !important;
}

.btn-group {
  margin-bottom: 10px;
}

.search-block h1 {
  color: #FFF;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.66);
  font-family: 'Lato SemiBold', serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-selection {
  visibility:hidden;
  width: 0;
  height: 0;
}

.search-block-2 h1 {
  color: #FFF;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.66);
  font-family: 'Lato Light', serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-block {
  padding-top: 20px;
}

.info-block h1 {
  margin-bottom: 20px;
  color: #000;
  font-family: 'Lato Light', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 50px;
}

.inpt {
  text-align: start;
  cursor: text;
}

.search-block {
  display: none;
}

.search-block-2 {
  display: flex;
  align-items: center;
  background-image: url("/assets/img/search-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.btn-group-inpt {
  background-color: white;
  color: black;
  min-width: 235px;
  width: max-content;
  height: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group-btn-search {
  background-color: white;
  color: black;
  width: 100px;
  height: 50px;
  border-radius: 0 6px 6px 0;
}

.align-right {
}

.align-right button {
  height: 50px;
}

@media (max-width: 576px) {
  .button-map-small {
    margin-right: 20px !important;
  }
}

@media (min-width: 576px) {
  .search-block {
    display: none;
  }

  .btn-group-inpt {
    background-color: white;
    color: black;
    min-width: 400px;
    width: max-content;
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group-btn-search {
    background-color: white;
    color: black;
    width: 120px;
    height: 50px;
    border-radius: 0 6px 6px 0;
  }

  .search-block-2 {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/search-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }

  .align-right {
    float: right
  }

  .align-right button {
    height: 50px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .search-block {
    display: none;
  }

  .btn-group-inpt {
    background-color: white;
    color: black;
    min-width: 580px;
    width: max-content;
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group-btn-search {
    background-color: white;
    color: black;
    width: 135px;
    height: 50px;
    border-radius: 0 6px 6px 0;
  }

  .search-block-2 {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/search-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }

  .align-right {
    float: right
  }

  .align-right button {
    height: 50px;
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .search-block {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/search-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }

  .btn-group-btn {
    background-color: white;
    color: black;
    width: 135px;
    height: 50px;
  }

  .btn-group-inpt {
    background-color: white;
    color: black;
    width: 430px;
    min-width: 430px;
    height: 50px;
    border-radius: 0 6px 6px 0;
  }

  .search-block-2 {
    display: none;
  }

  .align-right {
    float: right
  }

  .align-right button {
    height: 50px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .search-block {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/search-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }

  .btn-group-btn {
    background-color: white;
    color: black;
    width: 160px;
    height: 50px;
  }

  .btn-group-inpt {
    background-color: white;
    color: black;
    width: 480px;
    min-width: 480px;
    height: 50px;
    border-radius: 0 6px 6px 0;
  }

  .search-block-2 {
    display: none;
  }

  .align-right {
    float: right
  }

  .align-right button {
    height: 50px;
    margin-left: 10px;
  }
}

@media (min-width: 1400px) {
  .search-block {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/search-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }

  .btn-group-btn {
    background-color: white;
    color: black;
    width: 200px;
    height: 50px;
  }

  .btn-group-inpt {
    background-color: white;
    color: black;
    width: 550px;
    min-width: 550px;
    height: 50px;
    border-radius: 0 6px 6px 0;
  }

  .search-block-2 {
    display: none;
  }

  .align-right {
    float: right
  }

  .align-right button {
    height: 50px;
    margin-left: 10px;
  }
}

.overlay-background {
  background: white !important;
  -webkit-box-shadow: 0 16px 8px 8px rgba(34, 60, 80, 0.05);
  -moz-box-shadow: 0 16px 8px 8px rgba(34, 60, 80, 0.05);
  box-shadow: 0 16px 8px 8px rgba(34, 60, 80, 0.05);
  padding: 10px 10px 0 10px;
  max-height: 210px;
  overflow-y: auto;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
