<input type="file" class="file-input"
       accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
  {{fileName || "No file uploaded yet."}}
  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<span>{{info}}</span>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>apartmentNumber</th>
    <th>address</th>
    <th>price</th>
    <th>test</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let apartment of apartments">
    <td>{{ apartment.apartmentNumber }}</td>
    <td>{{ apartment.address }}</td>
    <td>{{ apartment.price }}</td>
    <td>{{ splitimg(apartment.picHrefs) }}</td>
  </tr>
  </tbody>
</table>
