<main>
  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Профиль">
      <app-profile-tab></app-profile-tab>
    </mat-tab>
    <mat-tab label="Избранное">
      <h1>Soon coming...</h1>
    </mat-tab>
    <mat-tab label="Объявления">
      <h1>Soon coming...</h1>
    </mat-tab>
    <mat-tab label="Разместить объявление">
      <app-file-upload></app-file-upload>
    </mat-tab>
    <mat-tab label="Предпочтения">
      <h1>Soon coming...</h1>
    </mat-tab>
    <mat-tab label="Аналитика">
      <h1>Soon coming...</h1>
    </mat-tab>
  </mat-tab-group>
</main>
