.app-content {
    background-color: #F6F6F6;
    height: calc(100vh - 64px);
}

.info {
    font-size: 18px;
}

.info b {
    color: #192542;
}

mat-card {
    margin: 10px;
    display: block;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

tr>td {
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}

