main {
  width: 100%;
  height: max-content;
}

.search-block {
  background-image: url("/assets/img/search-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.menu-block {
  background-color: white;
  padding: 40px;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
  .menu-block {
    padding: 40px;

  }
}

@media (max-width: 576px) {
  .menu-block {
    padding: 15px;
  }
}


.search-block h1 {
  color: #FFF;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.66);
  font-family: 'Lato SemiBold', serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  padding-top: 120px;
  font-weight: 600;
  line-height: normal;
}

.orientation-left {
  display: flex;
  float: left;
}

.slider-block {
  display: inline-block;
  align-items: start;
  float: left;
}

.center-block {
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
}

mat-slider {
  width: 100%;
}

.select-block {
  padding: 10px 0;
}

.text-left {
  text-align: left !important;
  width: 100%;
}

mat-icon {
  font-size: 15px;
  padding-left: 4px;
}

mat-form-field {
  width: 100%;
}

input[type="number"] {
  height: 32px;
  border-radius: 4px;
  border: 0;
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 80px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 50 67' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke-width='2'%3E%3Cpolyline transform='translate(25 20) rotate(45) translate(-25 -20)' points='19 26 19 14 32 14' stroke='%23000'/%3E%3Cpolyline transform='translate(25 45) rotate(225) translate(-25 -45)' points='19 52 19 39 32 39' stroke='%23000'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 0;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

h2 {
  text-align: left;
  padding-top: 20px;
}

.sub-text {
  color: var(--bs-header-link-color);
}

@media (min-width: 992px) {
  .display-none-after {
    display: none;
  }

  .display-none-before {
    display: block;
  }
}

@media (max-width: 992px) {
  .display-none-after {
    display: block;
  }

  .display-none-before {
    display: none;
  }
}

mat-checkbox {
  margin: 7px 0;
}

.but-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
}
main {
  width: 100%;
  height: max-content;
}

.search-block {
  background-image: url("/assets/img/search-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.menu-block {
  background-color: white;
  padding: 40px;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
  .menu-block {
    padding: 40px;

  }
}

@media (max-width: 576px) {
  .menu-block {
    padding: 15px;
  }
}


.search-block h1 {
  color: #FFF;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.66);
  font-family: 'Lato SemiBold', serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  padding-top: 120px;
  font-weight: 600;
  line-height: normal;
}

.orientation-left {
  display: flex;
  float: left;
}

.slider-block {
  display: inline-block;
  align-items: start;
  float: left;
}

.center-block {
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
}

mat-slider {
  width: 100%;
}

.text-left {
  text-align: left !important;
  width: 100%;
}

mat-icon {
  font-size: 15px;
  padding-left: 4px;
}

mat-form-field {
  width: 100%;
}

input[type="number"] {
  height: 32px;
  border-radius: 4px;
  border: 0;
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 80px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 50 67' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke-width='2'%3E%3Cpolyline transform='translate(25 20) rotate(45) translate(-25 -20)' points='19 26 19 14 32 14' stroke='%23000'/%3E%3Cpolyline transform='translate(25 45) rotate(225) translate(-25 -45)' points='19 52 19 39 32 39' stroke='%23000'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 0;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

h2 {
  text-align: left;
  padding-top: 20px;
}

.sub-text {
  color: var(--bs-header-link-color);
}

@media (min-width: 992px) {
  .display-none-after {
    display: none;
  }

  .display-none-before {
    display: block;
  }
}

@media (max-width: 992px) {
  .display-none-after {
    display: block;
  }

  .display-none-before {
    display: none;
  }
}

mat-checkbox {
  margin: 7px 0;
}

.but-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
}
